<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700&display=swap" />
  <link rel="stylesheet" href="/styles/design.css" />
</head>

<body>

  <h1 id="searchTitle" class="text-center mt-5">
    Search Results > <span><%= query %></span>
  </h1>

  <% if(data.results.length) { %>
    <% data.results.forEach( movie => { %>
    <% const theImage = `https://image.tmdb.org/t/p/w600_and_h900_bestv2${movie.poster_path}` %>

    <div class="card w-75 mb-5">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="<%= theImage %>" alt="" class="img-fluid card-img" />
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title"><%= movie.title %></h2>

            <hr />
            <p class="card-text"><%= movie.overview %></p>

            <hr />

            <p class="card-text">
              Date Published: <b><%= movie["release_date"] %></b>
            </p>

            <p class="card-text">Total Votes: <b><%= movie["vote_count"] %></b></p>

            <p class="card-text">Rating: <b><%= movie["vote_average"] %></b></p>
          </div>
        </div>
      </div>
    </div>

    <% }) %>
  <% } else { %>
    <div>
      <p>No movies found matching query</p>
    </div>
    <%  } %>



</body>

</html>